<div class="navbar navbar-light" style="background-color: #7fd9d5;">
  <a class="navbar-brand">SPORTS STORE</a>
</div>

<div class="row">
  <div class="col-sm-3 border-left" style="left: 15px">
    <br>
    <button type="button"
            class="btn btn-block btn-outline-primary mx-auto w-75"
            routerLink="/admin/main/products"
            routerLinkActive="active">
      Product
    </button>
    <button type="button"
            class="btn btn-block btn-outline-primary mx-auto w-75"
            routerLink="/admin/main/orders"
            routerLinkActive="active">
      Orders
    </button>
    <button type="button"
            class="btn btn-block btn-danger mx-auto w-75"
            (click)="logout()">
      Logout
    </button>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>
