<div class="form-group">
  <label>Name:</label>
  <input class="form-control" [value]="model.getProduct(1)?.name || 'None.'"/>
</div>
<div class="text-left" [ngClass]="getClass(1)" [textContent]="'Description: ' + (model.getProduct(1)?.description || 'No description.')"></div>
<div [ngClass]="getClassMap(1)">ClassMap</div>
<div [class.bg-info]="model">There are {{getProductCount()}} products.</div>

<div *ngFor="let p of getProducts()">
  <span *ngIf="p.name == targetName" [class.bg-info]="model">{{targetName}}</span>
  <div [ngSwitch]="p.name">
    <span *ngSwitchCase="targetName">It's already drawn above!</span>
    <span *ngSwitchDefault>Default value!</span>
  </div>
</div>

<div>
  <span [class.bg-info]="model">Counter: {{counter}}</span>
</div>

<div class="bg-warning">
  Selected Product: {{selectedProduct || '(None)'}}
</div>
<table class="table table-sm table-bordered">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let item of getProducts(); let i = index"
      [class.bg-info]="getSelected(item)">
    <td (mouseover)="selectedProduct=item.name">{{i + 1}}</td>
    <td>{{item.name}}</td>
    <td>{{item.category}}</td>
    <td>{{item.price}}</td>
  </tr>
</table>



<div class="form-group">
  <label>Product name:</label>
  <input class="form-control"
         (input)="selectedProduct=$event.target.value"
         [value]="selectedProduct || ''"/>
</div>

<div class="form-group">
  <label>Product name(on enter):</label>
  <input class="form-control"
         (keyup.enter)="selectedProduct=$event.target.value"
         [value]="selectedProduct || ''"/>
</div>

<div class="form-group">
  <label>Product name(ngModel):</label>
  <input class="form-control" [(ngModel)]="selectedProduct"/>
</div>


<br>


<div>Model Data: {{jsonProduct}}</div>

<form novalidate (ngSubmit)="addProduct(newProduct)">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" [(ngModel)]="newProduct.name" />
  </div>
  <div class="form-group">
    <label>Category</label>
    <input class="form-control" name="category" [(ngModel)]="newProduct.category" /> </div>
  <div class="form-group">
    <label>Price</label>
    <input class="form-control" name="price" required [pattern]="'[0-9]'" [(ngModel)]="newProduct.price"/>
  </div>
  <button class="btn btn-sm btn-secondary" type="submit">Create</button>
</form>


<template #titleTemplate>
  <h4 class="p-a-1 bg-success">Repeated Content</h4>
</template>

<template [ngTemplateOutlet]="titleTemplate"></template>
